<footer id="footer">
  <div class="inner">
    <ul class="icons">
      <li><a href="mailto:TIN.PRAHA@seznam.cz" class="icon fa-envelope"><span class="label">email</span></a></li>
    </ul>
    <ul class="copyright">
      <li>&copy; Jan Žufníček</li><li>Based on design by <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </div>
</footer>

