<section id="three">
  <h2>Kontakt / Get In Touch</h2>
  <p>Pokud máte zajem o kterýkoli z produktů, neváhejte nás kontaktovat.</p>
  <p>Please, contantact us for additional information about our products.</p>
  <div class="row">
    <div class="col-8 col-12-small">
      <form method="post" action="https://formspree.io/tin@bobek.cz">
        <div class="row gtr-uniform gtr-50">
          <div class="col-6 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Vaše jméno / Name" /></div>
          <div class="col-6 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Váš / Your Email" /></div>
          <div class="col-12"><textarea name="message" id="message" placeholder="Zpráva / Message" rows="4"></textarea></div>
        </div>
      <br/>
      <ul class="actions">
        <li><input type="submit" value="Send" /></li>
      </ul>
      </form>
    </div>
    <div class="col-4 col-12-small">
      <ul class="labeled-icons">
        <li>
          <h3 class="icon fa-mobile"><span class="label">Phone</span></h3>
          +420-603-581-189
        </li>
        <li>
          <h3 class="icon fa-envelope"><span class="label">Email</span></h3>
          <a href="mailto:TIN.PRAHA@seznam.cz">TIN.PRAHA@seznam.cz</a>
        </li>
      </ul>
    </div>
  </div>
</section>

